{% extends 'base.html' %}

{% block head_content %}
<title>Fakegram Feed</title>
{% endblock %}

{% block container %}
<div class="container">
    <div class="row">
        {% for post in posts %}
            {% include 'posts/post_card.html' %}
        {% endfor %}
    </div>
</div>
{# Esta paginacion lo podemos hacer gracias a la calse PostFeedView que hereda de ListView #}
{% include 'pagination.html' %}

{% endblock %}

<!-- <div class="col-lg-4 offset-lg-4">
    <div class="d-flex">
        <img class="me-3 rounded-circle" src="{{ post.user.picture }}" alt="{{ post.user.name }}" width="60px"
            height="60px" />
        <div>
            <h5 class="fw-bold"> {{ post.user.name }} </h5>
            {{ post.timestamp }}
        </div>
    </div>
    <img class="img-fluid mt-3 border rounded" src="{{ post.photo }}" alt="{{ post.title }}">
    <h6 class="m-lg-1 mt-1"> {{ post.title }} </h6>
</div> -->